@use 'variables';

.infos-bar {
    margin: 24px auto;

    &__infos {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-bottom: 8px;
        border-bottom: 2px solid variables.$fontColor;

        @media (max-width: 768px) {
            display: block;
            text-align: center;
        }

        &__info {
            color: variables.$fontColor;

            @media (max-width: 768px) {
                margin: 16px;
            }

            b {
                display: block;
                padding: 8px 0;
            }
        }
    }
}